@model IEnumerable<MarissaGoncalvesQuestion4.Models.Item>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Item Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.item1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.item_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.item_id })
        </td>
    </tr>
}
</table>
